<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSI2532 - Projet final</title>
    <link rel="shortcut icon" href="/public/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/style/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/public/style/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <style>
      h1 a {
        color: black;
      }

      h1 a:hover {
        text-decoration: none;
        color: black;
      }
    </style>
    <div class="container">
      <h1>
          <a href="/">Cabinet médical</a>
          {{#if data.0.nom}}
            <span id="persoTop">
              {{data.0.prenom}} {{data.0.nom}}
              <a href="/logout" class="btn btn-primary">Se déconnecter <span class="glyphicon glyphicon-log-out"></span></a>
            </span>
          {{/if}}
        </h1>
      {{{body}}}
    </div>
  </body>
</html>
