<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSI2532 - Projet final</title>
    <link rel="shortcut icon" href="/public/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/style/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/public/style/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Cabinet médical</h1>
      {{{body}}}
    </div>
  </body>
</html>
