<div class="text-center" id="registerContainer">
  <h2 class="text-center">Connection au portail</h2>
  <img src="/public/img/separator.png" alt="separator" />
  <form role="form" class="form-inline">
    <div class="btn-group" id="typeChoix" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="radio" name="options" id="medecin" autocomplete="off"> Médecin
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="secretaire" autocomplete="off"> Secrétaire
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="patient" autocomplete="off"> Patient
      </label>
    </div>
    <br>
    <div id="medecinForm" class="startHide persoForm">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="medecinId">
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Se connecter <span class="glyphicon glyphicon-user"></span></button>
    </div>
    <div id="secretaireForm" class="startHide persoForm">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="téléphone">
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Se connecter <span class="glyphicon glyphicon-user"></span></button>
    </div>
    <div id="patientForm" class="startHide persoForm">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="SSN">
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Se connecter <span class="glyphicon glyphicon-user"></span></button>
    </div>
  </form>
</div>

<div class="text-center toLogin">
  Pas de compte? <a href="/register">Inscrivez-vous!</a>
</div>

<script src="/public/script/login.js"></script>
