<div class="text-center" id="registerContainer">
  <h2 class="text-center">Déconnection du portail</h2>
  <img src="/public/img/separator.png" alt="separator" />
  <h3>{{prenom}} {{nom}}, voulez-vous vraiment vous déconnecter?</h3>
  <div id="logoutChoix">
    <button id="logoutYes" class="btn btn-success btn-lg">OUI <span class="glyphicon glyphicon-ok"></span></button>
    <button id="logoutNo" class="btn btn-danger btn-lg">NON <span class="glyphicon glyphicon-remove"></span></button>
  </div>
</div>

<script src="/public/script/logout.js"></script>
