<div class="text-center" id="registerContainer">
  <h2 class="text-center">Inscription au portail</h2>
  <img src="/public/img/separator.png" alt="separator" />
  <div role="form" class="form-inline">
    <div class="btn-group" id="typeChoix" data-toggle="buttons">
      <label class="btn btn-default">
        <input type="radio" name="options" id="medecin" autocomplete="off"> Médecin
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="secretaire" autocomplete="off"> Secrétaire
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="patient" autocomplete="off"> Patient
      </label>
    </div>
    <br>
    <form id="medecinForm" class="startHide persoForm">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="medecinId">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="téléphone">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="prénom">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="nom">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="adresse">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="spécialité">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="téléphone secrétaire">
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Envoyer <span class="glyphicon glyphicon-send"></span></button>
    </form>
    <form id="secretaireForm" class="startHide persoForm">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="téléphone">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="adresse">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="prénom">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="nom">
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Envoyer <span class="glyphicon glyphicon-send"></span></button>
    </form>
    <form id="patientForm" class="startHide persoForm">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="SSN">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="medecinId">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="prénom">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="nom">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg dateInput" placeholder="date de naissance">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="adresse">
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="téléphone">
      </div>
      <div class="form-group" id="sexeChoix">
        Sexe:
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off"> M
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off"> F
          </label>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Envoyer <span class="glyphicon glyphicon-send"></span></button>
    </form>
  </div>
</div>

<div class="text-center toLogin">
  Déjà inscrit? <a href="/login">Connectez-vous!</a>
</div>

<script src="/public/script/bootstrap-datepicker.min.js"></script>
<script src="/public/locales/bootstrap-datepicker.fr.min.js"></script>
<script src="/public/script/register.js"></script>
